body {
    color:white;
    background:rgb(52, 29, 76);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(144, 42, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
section {
    background: rgb(19, 23, 33)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}