body {
    color:white;
    background:rgb(52, 29, 76);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(132, 33, 246);
    padding: 20px;
    font-size: 32px;
    color: rgb(116, 42, 228);
}
section {
    background: rgb(14, 21, 39)
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}