body {
    color:white;
    background: rgb(38, 0, 63);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}
header {
    border-bottom: solid 2px rgb(132, 33, 246);
    padding: 20px;
    font-size: 32px;
    color: rgb(116, 42, 228);
}
section {
    background: rgb(53, 28, 70);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}